.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.allComponent{
  background-color: #ccf4ff;
  min-height: 100vh;
  min-width: 100vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.App-link {
  color: #61dafb;
}